.destaques {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 33.33% 33.33% 33.33% 33.33%;
  height: calc(100vh - 70px);
}

.destaques__principal {
  background-image: url(img/fortnite.jpg);
  background-repeat: no-repeat;
  background-position: center;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.destaques__secundario {
  background-image: url(img/free-fire.jpg);
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 1;
}