.app {
  background: rgba(156, 245, 29, 0.91);
  display: grid;
  font-family: arial, helvetica, sans-serif;
  grid-template-areas:
    "cabecalho"
    "conteudo"
    "rodape";
  grid-template-columns: auto;
  grid-template-rows: 70px 100vh auto;
}

.cabecalho {
  grid-area: cabecalho;
  background: red;
}

.conteudo {
  grid-area: conteudo;
}

.rodape {
  grid-area: rodape;
  background: red;
}