.app{
  background: rgba(156, 245, 29, 0.91);
  display: grid;
  font-family: arial, helvetica, sans-serif;
  grid-template-areas:
  "cabecalho"
  "conteudo"
  "rodape";
  grid-template-columns: auto;
  grid-template-rows: 50px auto auto;

}
.cabecalho{
background: rgb(63, 169, 171);
grid-area: cabecalho;

}
.conteudo{
background: rgb(78, 26, 68);
grid-area: conteudo;
}
.rodape{
background: rgb(151, 101, 242);
grid-area: rodape;
}
